<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#da532c">
    <base href="/" />
    <link rel="stylesheet" href="@Assets["_content/Mqtt.Server.Web/css/app.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css"]" />
    <link rel="manifest" href="@Assets["_content/Mqtt.Server.Web/site.webmanifest"]">
    <link rel="icon" type="image/svg+xml" href="@Assets["_content/Mqtt.Server.Web/favicon.svg"]">
    <link rel="apple-touch-icon" sizes="180x180" href="@Assets["_content/Mqtt.Server.Web/apple-touch-icon.png"]">
    <link rel="mask-icon" href="@Assets["_content/Mqtt.Server.Web/safari-pinned-tab.svg"]" color="#5bbad5">
    <link rel="icon" type="image/png" sizes="32x32" href="@Assets["_content/Mqtt.Server.Web/favicon-32x32.png"]">
    <link rel="icon" type="image/png" sizes="16x16" href="@Assets["_content/Mqtt.Server.Web/favicon-16x16.png"]">
    @{
#if NET9_0_OR_GREATER
    }
    <ImportMap />
    @{
#endif
    }
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>

@code {
#if !NET9_0_OR_GREATER
    private class ResourceAssetCollection
    {
        public string this[string key] => key;
    }

    private ResourceAssetCollection Assets { get; } = new();
#endif
}