@inject IMqttServer Server
@inject IOptions<UIOptions> Options
@inject ILogger<ConnectionsView> Logger
@implements IDisposable
@implements IObserver<ConnectionStateChangedMessage>

@if (provider is null)
{
    <h6 class="text-body-secondary">Server doesn't provide connections info.</h6>
    return;
}

<div class="d-inline-flex align-items-center mb-3">
    Items per page:
    <select class="form-select form-select-sm w-auto ms-2" @bind="@pagination.ItemsPerPage">
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
    </select>
</div>

<QuickGrid Items="@(provider?.GetConnections().AsQueryable())" Pagination="@pagination"
    Class="table table-striped table-bordered table-hover">
    <PropertyColumn Property="@(p => p.ClientId)" Title="Client Id" Sortable="true" HeaderTemplate="@RenderCaption" />
    <PropertyColumn Property="@(p => p.Id)" Title="Conn. Id" HeaderTemplate="@RenderCaption" />
    <PropertyColumn Property="@(p => p.LocalEndPoint.ToString())" Title="Local Endpoint"
        HeaderTemplate="@RenderCaption" />
    <PropertyColumn Property="@(p => p.RemoteEndPoint.ToString())" Title="Remote Endpoint"
        HeaderTemplate="@RenderCaption" />
    <PropertyColumn Property="@(p => p.Created)" Title="Connected at" Format="u" HeaderTemplate="@RenderCaption" />
</QuickGrid>

<div class="d-flex align-items-center">
    <span><strong>@(pagination.TotalItemCount ?? 0)</strong> active connections</span>
    @if (pagination.TotalItemCount.HasValue && pagination.LastPageIndex > 0)
    {
        <Mqtt.Server.Web.Shared.Paginator Pagination="@pagination" Class="ms-auto" />
    }
</div>

@code {
    private IProvideConnectionsInfo? provider;
    private IDisposable? subscription;
    private PaginationState pagination = new PaginationState() { ItemsPerPage = 20 };
    private CancellationTokenSource tokenSource = new CancellationTokenSource();
    private AsyncManualResetEvent updateEvt = new AsyncManualResetEvent();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        provider = Server.GetFeature<IProvideConnectionsInfo>();
        subscription = Server.GetFeature<IObservable<ConnectionStateChangedMessage>>()?.Subscribe(this);
        pagination.TotalItemCountChanged += (sender, args) => StateHasChanged();
        RunUpdateLoopAsync(tokenSource.Token, Options.Value.EventsThrottleInterval).Observe(e => Logger.LogError(e, e.Message));
    }

    public void Dispose()
    {
        using (subscription)
        using (tokenSource)
        {
            tokenSource.Cancel();
        }
    }

    void IObserver<ConnectionStateChangedMessage>.OnCompleted() { }

    void IObserver<ConnectionStateChangedMessage>.OnError(System.Exception error) { }

    void IObserver<ConnectionStateChangedMessage>.OnNext(ConnectionStateChangedMessage value)
    {
        updateEvt.Set();
    }

    private async Task RunUpdateLoopAsync(CancellationToken stoppingToken, TimeSpan delay)
    {
        var updateAction = StateHasChanged;
        try
        {
            while (!stoppingToken.IsCancellationRequested)
            {
                await updateEvt.WaitAsync(stoppingToken).ConfigureAwait(false);
                updateEvt.Reset();
                await InvokeAsync(updateAction).ConfigureAwait(false);
                await Task.Delay(delay, stoppingToken).ConfigureAwait(false);
            }
        }
        catch (OperationCanceledException)
        {
            // Expected
        }
    }

    private RenderFragment<ColumnBase<ConnectionInfo>> RenderCaption = column =>
    @<button class="btn btn-light m-0 w-100 border-0 rounded-0 text-start col-title"
        onclick="@(() => column.Grid.SortByColumnAsync(column))">
        @column.Title
        <div class="col-sort-indicator" />
    </button>;
}