@inject System.Net.Mqtt.Server.IMqttServer Server
@implements IDisposable
@implements IObserver<ConnectionStateChangedMessage>

@if (provider is null)
{
    <h6 class="text-body-secondary">Server doesn't provide connections info.</h6>
    return;
}

<div class="d-inline-flex align-items-center mb-3">
    Items per page:
    <select class="form-select form-select-sm w-auto ms-2" @bind="@pagination.ItemsPerPage">
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
    </select>
</div>

<QuickGrid Items="@(provider?.GetConnections().AsQueryable())" Pagination="@pagination"
    Class="table table-striped table-bordered table-hover">
    <PropertyColumn Property="@(p => p.ClientId)" Title="Client Id" Sortable="true" HeaderTemplate="@RenderCaption" />
    <PropertyColumn Property="@(p => p.Id)" Title="Conn. Id" HeaderTemplate="@RenderCaption" />
    <PropertyColumn Property="@(p => p.Endpoint)" Title="Endpoint" HeaderTemplate="@RenderCaption" />
</QuickGrid>

<div class="d-flex align-items-center">
    <span><strong>@(pagination.TotalItemCount ?? 0)</strong> active connections</span>
    @if (pagination.TotalItemCount.HasValue && pagination.LastPageIndex > 0)
    {
        <Mqtt.Server.Web.Shared.Paginator Pagination="@pagination" Class="ms-auto" />
    }
</div>

@code {
    private IProvideConnectionsInfo? provider;
    private IDisposable? subscription;
    private PaginationState pagination = new PaginationState() { ItemsPerPage = 20 };

    protected override void OnInitialized()
    {
        base.OnInitialized();
        provider = Server.GetFeature<IProvideConnectionsInfo>();
        subscription = Server.GetFeature<IObservable<ConnectionStateChangedMessage>>()?.Subscribe(this);
        pagination.TotalItemCountChanged += (sender, args) => StateHasChanged();
    }

    public void Dispose()
    {
        subscription?.Dispose();
    }

    void IObserver<ConnectionStateChangedMessage>.OnCompleted() { }

    void IObserver<ConnectionStateChangedMessage>.OnError(System.Exception error) { }

    void IObserver<ConnectionStateChangedMessage>.OnNext(ConnectionStateChangedMessage value) =>
        InvokeAsync(() => StateHasChanged());

    private RenderFragment<ColumnBase<ConnectionInfo>> RenderCaption = column =>
    @<button class="btn btn-light m-0 w-100 border-0 rounded-0 text-start col-title"
        onclick="@(() => column.Grid.SortByColumnAsync(column))">
        @column.Title
        <div class="col-sort-indicator" />
    </button>;
}